<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background-color: #000;
            color: #fff;
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        .privacy-policy {
            max-width: 600px;
            margin: 0 auto;
            line-height: 1.6;
        }
    </style>
</head>
<body>
<div class="privacy-policy">
    <h2>Privacy Policy for Pet Rental</h2>

    <p>We at Rental of Pets in Szczecin are committed to protecting your privacy and ensuring the security of your personal
        information. Our privacy policy outlines how we collect, use, disclose, and store information about you when you
        use our pet rental services.</p>

    <h3>Information Collection</h3>

    <p>We collect information about you when you use our pet rental services, including but not limited to your name,
        contact information, email address, and payment details.</p>

    <h3>Use of Information</h3>

    <p>We use the information we collect to provide and improve our pet rental services, communicate with you, process
        transactions, and ensure compliance with legal and regulatory requirements.</p>

    <h3>Information Sharing</h3>

    <p>We may share your information with third-party service providers who assist us in delivering our services,
        processing payments, or performing other functions on our behalf. We may also disclose your information in
        response to legal requests or to protect our rights, property, or safety.</p>

    <h3>Data Security</h3>

    <p>We take reasonable measures to protect the security of your information and prevent unauthorized access,
        disclosure, or alteration. However, no method of transmission over the internet or electronic storage is
        completely secure, so we cannot guarantee absolute security.</p>

    <h3>Your Rights</h3>

    <p>You have the right to access, correct, or delete your personal information held by us. You may also object to the
        processing of your personal information or request restrictions on its processing.</p>

    <h3>Changes to This Policy</h3>

    <p>We may update our privacy policy from time to time to reflect changes in our practices or legal requirements. We
        will notify you of any material changes by posting the new policy on our website.</p>

    <h3>Contact Us</h3>

    <p>If you have any questions or concerns about our privacy policy or our practices regarding your personal
        information, please contact us at Fryderyka Chopina</p>
</div>
</body>
</html>
