<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Settings</title>
    <link rel="stylesheet" href="/img/css/HeadFoot.css">
    <style>
        body {
            background-color: #2e323e;
            color: rgb(112, 128, 144);
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .center-content {
            display: flex;
            align-items: center;
            width: 40%;
            justify-content: center;
            color: #dddddd;
            font-size: 16px;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .modal {
            background-color:  #232834;
            color: #dddddd;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 400px;
        }

        .modal label {
            display: block;
            margin: 3px;
        }

        .modal input[type="text"],
        .modal input[type="date"],
        .modal input[type="number"] {
            width: calc(100% - 22px);
            padding: 8px;
            margin-top: 3px;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-sizing: border-box;
        }

        .modal input[type="checkbox"] {
            margin-top: 10px;
            margin-right: 5px;
            vertical-align: middle;
        }

        .modal button {
            padding: 10px 20px;
            background-color: #87ab63;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            margin-top: 10px;
        }

        .modal button:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }

        .error {
            color: red;
            margin-top: 10px;
        }

    </style>
</head>
<body>
<header>
    <div class="logo">
        <a th:href="@{/firstPage}"><img src="/img/dog_logo.svg" alt="logo"></a>
    </div>
    <div class="center-content">

        <div class="center_nav">
            <ul>
                <li><a th:href="@{/blog}" th:text="#{menu.blog}"></a></li>
                <li><a th:href="@{/company-info}" th:text="#{menu.contact}"></a></li>
                <li>
                    <a th:href="@{/admin/admin-panel}" th:text="#{menu.admin.panel}"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="right-content">
        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <ul class="list">
                <li><a th:href="@{/pets}" th:text="#{menu.pets}"></a></li>
                <li>
                    <div class="user-avatar" id="userAvatar">
                        <img src="/img/user_icon.png" alt="User">
                        <div class="menu" id="userMenu">
                            <ul>
                                <li>
                                    <span class="username" th:text="${#authentication.principal.username}"></span>
                                </li>
                                <div class="crossed-line"></div>
                                <li>
                                    <a th:href="@{/user/notifications}">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="15" height="15">
                                            <path fill="#dddddd" d="M8 16a2 2 0 0 0 1.985-1.75c.017-.137-.097-.25-.235-.25h-3.5c-.138 0-.252.113-.235.25A2 2 0 0 0 8 16ZM3 5a5 5 0 0 1 10 0v2.947c0 .05.015.098.042.139l1.703 2.555A1.519 1.519 0 0 1 13.482 13H2.518a1.516 1.516 0 0 1-1.263-2.36l1.703-2.554A.255.255 0 0 0 3 7.947Zm5-3.5A3.5 3.5 0 0 0 4.5 5v2.947c0 .346-.102.683-.294.97l-1.703 2.556a.017.017 0 0 0-.003.01l.001.006c0 .002.002.004.004.006l.006.004.007.001h10.964l.007-.001.006-.004.004-.006.001-.007a.017.017 0 0 0-.003-.01l-1.703-2.554a1.745 1.745 0 0 1-.294-.97V5A3.5 3.5 0 0 0 8 1.5Z"/>
                                        </svg>
                                        <span th:text="#{user.panel.notification}"></span>
                                    </a>
                                </li>
                                <li><a th:href="@{/pet/bookings}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                                        <path fill="#dddddd" d="M23 5v13.883l-1 .117v-16c-3.895.119-7.505.762-10.002 2.316-2.496-1.554-6.102-2.197-9.998-2.316v16l-1-.117v-13.883h-1v15h9.057c1.479 0 1.641 1 2.941 1 1.304 0 1.461-1 2.942-1h9.06v-15h-1zm-12 13.645c-1.946-.772-4.137-1.269-7-1.484v-12.051c2.352.197 4.996.675 7 1.922v11.613zm9-1484c-2.863.215-5.054.712-7 1.484v-11.613c2.004-1.247 4.648-1.725 7-1.922v12.051z"/></svg>
                                    <span th:text="#{user.panel.bookings}"></span>
                                </a>
                                </li>
                                <li><a th:href="@{/user/settings}">
                                    <svg viewBox="0 0 16 16" aria-hidden="true" width="15" height="15">
                                        <path fill="#dddddd" d="M5.433 2.304A4.492 4.492 0 0 0 3.5 6c0 1.598.832 3.002 2.09 3.802.518.328.929.923.902 1.64v.008l-.164 3.337a.75.75 0 1 1-1.498-.073l.163-3.33c.002-.085-.05-.216-.207-.316A5.996 5.996 0 0 1 2 6a5.993 5.993 0 0 1 2.567-4.92 1.482 1.482 0 0 1 1.673-.04c.462.296.76.827.76 1.423v2.82c0 .082.041.16.11.206l.75.51a.25.25 0 0 0 .28 0l.75-.51A.249.249 0 0 0 9 5.282V2.463c0-.596.298-1.127.76-1.423a1.482 1.482 0 0 1 1.673.04A5.993 5.993 0 0 1 14 6a5.996 5.996 0 0 1-2.786 5.068c-.157.1-.209.23-.207.315l.163 3.33a.752.752 0 0 1-1.094.714.75.75 0 0 1-.404-.64l-.164-3.345c-.027-.717.384-1.312.902-1.64A4.495 4.495 0 0 0 12.5 6a4.492 4.492 0 0 0-1.933-3.696c-.024.017-.067.067-.067.16v2.818a1.75 1.75 0 0 1-.767 1.448l-.75.51a1.75 1.75 0 0 1-1.966 0l-.75-.51A1.75 1.75 0 0 1 5.5 5.282V2.463c0-.092-.043-.142-.067-.159Z">
                                        </path>
                                    </svg>
                                    <span th:text="#{user.panel.settings}"></span>
                                </a></li>
                                <div class="crossed-line"></div>
                                <li>
                                    <form th:action="@{/logout}" method="post">
                                        <button type="submit">
                                            <svg viewBox="0 0 16 16" class="svg octicon-sign-out" aria-hidden="true" width="15" height="15" style="margin-top: 5px;">
                                                <path fill="#dddddd" d="M2 2.75C2 1.784 2.784 1 3.75 1h2.5a.75.75 0 0 1 0 1.5h-2.5a.25.25 0 0 0-.25.25v10.5c0 .138.112.25.25.25h2.5a.75.75 0 0 1 0 1.5h-2.5A1.75 1.75 0 0 1 2 13.25Zm10.44 4.5-1.97-1.97a.749.749 0 0 1 .326-1.275.749.749 0 0 1 .734.215l3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734l1.97-1.97H6.75a.75.75 0 0 1 0-1.5Z"></path>
                                            </svg>
                                            <span th:text="#{user.panel.logout}"></span>
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div th:unless="${#authorization.expression('isAuthenticated()')}">
            <a th:href="@{/pets}" th:text="#{menu.pets}"></a>
            <a th:href="@{/login}" th:text="#{menu.login}"></a>
            <a th:href="@{/users/registration}" th:text="#{registration.title}"></a>
        </div>
    </div>
</header>
<div class="container">
    <form id="bookingForm" th:action="@{'/pet/booking/' + ${petId}}" enctype="multipart/form-data" method="post" novalidate>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div id="order-modal" class="modal">
            <div class="error" th:if="${errorsBooking != null || errorsUser != null}">
                <ul>
                    <li th:each="error : ${errorsBooking}" th:text="${error.defaultMessage}"></li>
                    <li th:each="error : ${errorsUser}" th:text="${error.defaultMessage}"></li>
                </ul>
            </div>
            <input type="hidden" name="username" th:value="${userBooking.username}">
            <input type="hidden" name="emailVerified" th:value="${userBooking.emailVerified}">
            <input type="hidden" name="emailVerificationToken" th:value="${userBooking.emailVerificationToken}">
            <input type="hidden" name="role" th:value="${userBooking.role}">
            <input type="hidden" name="birthDate" th:value="${userBooking.birthDate}">
            <input type="hidden" name="id" th:value="${userBooking.id}">
            <input type="hidden" name="petId" th:value="${petId}">
            <label for="firstname" th:text="#{registration.firstName}"></label>
                <input id="firstname" type="text" name="firstname" th:value="${userBooking.firstname}" required>
            <br>
            <label for="lastname" th:text="#{registration.lastName}"></label>
                <input id="lastname" type="text" name="lastname" th:value="${userBooking.lastname}" required>
            <br>
            <label for="pesel" th:text="#{booking.pesel}"></label>
                <input id="pesel" type="text" name="pesel" th:value="${userBooking.pesel}" required>
            <br>
            <label for="address" th:text="#{booking.address}"></label>
                <input id="address" type="text" name="address" th:value="${userBooking.address}" required>
            <br>
            <label for="startDate" th:text="#{booking.start.date}"></label>
                <input id="startDate" type="date" name="startDate" th:value="${booking.startDate}" min="${#dates.format(#dates.createNow().plusDays(1), 'yyyy-MM-dd')}" max="9999-12-31" required>
            <br>
            <label for="duration" th:text="#{booking.duration}"></label>
            <input id="duration" type="number" name="duration" min="1" max="7" required>
            <br>
            <label for="phone" th:text="#{booking.phone}"></label>
            <input id="phone" type="text" name="phone" th:value="${userBooking.phone}" required>
            <br>
            <div>
                <input type="checkbox" id="ageCheck" required>
                <label for="ageCheck" th:text="#{age.check.year}"></label>
            </div>
            <div>
                <input type="checkbox" id="humanityCheck" required>
                <label for="humanityCheck" th:text="#{humanity.check}"></label>
            </div>
            <div>
                <input type="checkbox" id="dataCheck" required>
                <label for="dataCheck" th:text="#{data.check}"></label>
            </div>
            <h4 class="verific" th:text="#{verification}"></h4>
            <div class="verific">
                <div th:if="${userBooking.emailVerified}">
                    <p th:text="#{verification.enable}" style="display: inline;"></p>
                    <span style="color: green; display: inline;">&#10004;</span>
                </div>
                <div th:unless="${userBooking.emailVerified}">
                    <p style="display: inline;" th:text="#{verification.disable}"></p>
                </div>
            </div>
            <button type="button" onclick="validateForm()" id="orderButton" th:text="#{send.for.processing}" disabled></button>

            <div id="errorsMessage" class="error" style="display: none;"></div>
        </div>
    </form>
</div>
<footer>
    <div class="rights-info">
        <div class="left">
            <span style="margin-right: 10px;"><a href="https://www.jetbrains.com" th:text="#{footer.support}"></a></span>
            <span style="color: #dddddd;" th:text="#{footer.version}"></span>
        </div>
        <div class="right">
            <div class="language" >
                <select id="languageSelect" onchange="changeLanguage(this.value)">
                    <option value="en" title="English" th:selected="${#locale.language == 'en'}" th:text="#{lang.eng}">
                    <option value="pl" title="Polish" th:selected="${#locale.language == 'pl'}" th:text="#{lang.pl}">
                </select>
            </div>
            <div class="license-api" >
                <span style="color: #dddddd; margin: 0 5px;">|</span>
                <a th:href="@{/privacy-company}" th:text="#{footer.license} " class="footer-license"></a>
                <span style="color: #dddddd; margin: 0 5px;">|</span>
                <a th:href="@{/swagger-ui/index.html}">API</a>
            </div>
        </div>
    </div>
</footer>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var inputs = document.querySelectorAll("#bookingForm input, #bookingForm textarea, #bookingForm select");
        inputs.forEach(function(input) {
            input.addEventListener("input", function() {
                validateFields();
            });
        });

        var checkboxes = document.querySelectorAll("#bookingForm input[type='checkbox']");
        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener("change", function() {
                validateFields();
            });
        });
    });

    function validateFields() {
        var form = document.getElementById("bookingForm");
        var inputs = form.querySelectorAll("input, textarea, select");
        var isValid = true;
        inputs.forEach(function(input) {
            if (input.hasAttribute("required") && !input.value.trim()) {
                isValid = false;
            }
        });

        var checkboxes = form.querySelectorAll("input[type='checkbox']");
        checkboxes.forEach(function(checkbox) {
            if (!checkbox.checked) {
                isValid = false;
            }
        });

        var isAccountActivated = document.querySelector("#bookingForm [name='emailVerified']").value === "true";
        if (!isAccountActivated) {
            isValid = false;
        }

        var orderButton = document.getElementById("orderButton");
        orderButton.disabled = !isValid;
    }

    document.addEventListener("DOMContentLoaded", function () {
        var inputs = document.querySelectorAll("#bookingForm input, #bookingForm textarea, #bookingForm select");
        inputs.forEach(function(input) {
            input.addEventListener("input", function() {
                validateFields();
            });
        });

        var checkboxes = document.querySelectorAll("#bookingForm input[type='checkbox']");
        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener("change", function() {
                validateFields();
            });
        });
    });

    function validateForm() {
        var form = document.getElementById("bookingForm");
        var errorMessage = document.getElementById("errorsMessage");
        var requiredFields = form.querySelectorAll("[required]");
        var isValid = true;
        for (var i = 0; i < requiredFields.length; i++) {
            if (!requiredFields[i].value.trim()) {
                isValid = false;
                break;
            }
        }
        if (!isValid) {
            errorMessage.innerText = "Please fill in all required fields.";
            errorMessage.style.display = "block";
        } else {
            form.submit();
        }
    }
    document.addEventListener('DOMContentLoaded', function() {
        var avatar = document.getElementById("userAvatar");
        var menu = document.getElementById("userMenu");

        var isPageLoaded = false;
        window.addEventListener('load', function() {
            isPageLoaded = true;
        });
        avatar.addEventListener("click", function(event) {
            event.stopPropagation();
            if (isPageLoaded) {
                menu.style.display = menu.style.display === "block" ? "none" : "block";
            }
        });

        document.addEventListener("click", function(event) {
            if (event.target !== avatar && !menu.contains(event.target)) {
                menu.style.display = "none";
            }
        });
        var isMenuOpen = localStorage.getItem('isMenuOpen');
        if (isMenuOpen !== null && isMenuOpen === 'true') {
            menu.style.display = 'block';
        } else {
            menu.style.display = 'none';
        }
    });
    function changeLanguage(lang) {
        var select = document.getElementById("languageSelect");
        fetch(`/changeLanguage?lang=${lang}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to change language');
                }
                return response.text();
            })
            .then(() => {
                location.reload(true);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>
</body>
</html>